html, body {
  margin: 0;
  height: 100%;
}

/**Header**/

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__left, .menu__right{
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: black;
  }

  .menu__left {
    margin-left: 15%;
  }

  .menu__right {
    margin-right: 15%;
  }
  
  .menu__left a, .menu__right a, .menu__right #login {
    text-decoration: none;
  }

  .menu__left a, .menu__right a {
    color: black;
    margin-right: 10px;
  }

  #login, #logout {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 25px;

  }


/*Modal Wrapper*/

#modal__container {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}


/*Pop Up Form*/

.form__login{
    display: none;
  }

  .form__signup {
    display: none;
  }

  .form__addkeyboard {
    display: none;
  }


  .form__login, .form__signup, .form__addkeyboard {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    height: 100%;
    width: 25%;
    font-family: 'Lato', sans-serif;
  }
  

  #form__title {
  font-size: 30px;
  text-align: center;
}

  .form__container {
    height: 100%;
    bottom: 0;
    padding: 10px;
    background-color: white;
    
  }

  .form__container input[type=text], .form__container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 0px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form__container input[type=text]:focus, .form__container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }


  #container__submitbtn {
    text-align: center;
  }


  .form__container #container__submitbtn .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
    opacity: 0.8;
  }


  .form__container .btn:hover, .open-button:hover {
    opacity: 1;
  }


.container__closebtn {
  text-align: right;
  margin-bottom: 5%;
  
}

  .form__close {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: red;
  }

#form__signupbtn {
    text-align: center;
  }

 #signuplink, #loginlink {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 1%;
  }



  /*Account Form*/


  .form__accountdetails {
    height: 100%;
    bottom: 0;
    padding: 10px;
    background-color: white;
    margin-left: 18%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .form__accountdetails input[type=text], .form__accountdetails input[type=password] {
    width: 30%;
    padding: 15px;
    margin: 0px 0 22px 0;
    border: none;
    background: #f1f1f1;
    display: block;
    
  }

  .form__accountdetails input[type=text]:focus, .form__accountdetails input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  #saveaccount {
    margin-left: 20%;
    background-color: gray;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;
  }


  /*Row 1*/

  .row1 {
    display: flex;  
    justify-content: space-between;
  }

#row1__title {
  margin-left: 18%;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.row1__function {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
}

.row1__function #searchbar {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 5px;
    height: 50%;
    
}

#addbtn {
  background-color: gray;
  color: white;
  margin-left: 50%;
  border-radius: 50%;
  height: 30px;
  width: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-top: 5%;
  display: inline-block;
}


/*Row 2-3*/

.row2, .row3 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

#row2__leftkeyboard, #row3__leftkeyboard {
    margin-left: 20%;
}

#row2__rightkeyboard, #row3__rightkeyboard {
    margin-right: 20%;
    
}


#row2__leftimage, #row2__rightimage, #row3__leftimage, #row3__rightimage {
  position: relative;
  height: 300px;
  width: 500px;
}

#row2__leftdescription {
  position: absolute;
  top: 18%;
  left: 24%;
  visibility: hidden;
  opacity: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: transparent;
  color: white;
  pointer-events: none;
}

#row2__rightdescription {
  position: absolute;
  top: 18%;
  right: 40%;
  visibility: hidden;
  opacity: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: transparent;
  color: white;
  pointer-events: none;
}

#row3__leftdescription {
  position: absolute;
  bottom: 37%;
  left: 24%;
  visibility: hidden;
  opacity: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: transparent;
  color: white;
  pointer-events: none;
}

#row3__rightdescription {
  position: absolute;
  bottom: 37%;
  right: 40%;
  visibility: hidden;
  opacity: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: transparent;
  color: white;
  pointer-events: none;
}



#row2__leftkeyboard:hover #row2__leftdescription {
  visibility: visible;
  opacity: 1;
}

#row2__rightkeyboard:hover #row2__rightdescription {
  visibility: visible;
  opacity: 1;
}

#row3__leftkeyboard:hover #row3__leftdescription {
  visibility: visible;
  opacity: 1;
}

#row3__rightkeyboard:hover #row3__rightdescription {
  visibility: visible;
  opacity: 1;
}

img:hover {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.rounded-corners {
    border-radius: 20px;
}

.pagination {
  margin-left: 83%;
  margin-top: 3%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}